[submodule "vim-autoclose"]
	path = vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "conque-term"]
	path = conque-term
	url = git://github.com/rosenfeld/conque-term.git
[submodule "AutoClose"]
	path = AutoClose
	url = https://github.com/vim-scripts/AutoClose
[submodule "Align"]
	path = Align
	url = https://github.com/vim-scripts/Align.git
