[submodule "vim-autoclose"]
	path = vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
  ignore=dirty
[submodule "conque-term"]
	path = conque-term
	url = git://github.com/rosenfeld/conque-term.git
  ignore=dirty
[submodule "AutoClose"]
	path = AutoClose
	url = https://github.com/vim-scripts/AutoClose
  ignore=dirty
[submodule "Align"]
	path = Align
	url = https://github.com/vim-scripts/Align.git
  ignore=dirty
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
  ignore=dirty
[submodule "vim-gocode"]
	path = vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim-hybrid-material"]
	path = vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material
[submodule "vim-ginkgo"]
	path = vim-ginkgo
	url = https://github.com/gevans/vim-ginkgo
